@charset "UTF-8";
:root{
    --font: Arial, Helvetica, sans-serif;
    --cor-principal:rgba(130, 10, 209, 1);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

body{
    background-color: white;
}
header{
    height: 100px;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
}
header > h1{
    font-size: 20px;
    padding-top: 20px;
}