@charset "UTF-8";
:root{
    --font: Arimo, Helvetica, sans-serif;
    --cor-principal:rgba(130, 10, 209, 1);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
}
body{
    background-color: white;
    background: var(--cor-principal);
}
header{
    height: 100px;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 20px;
}
header > h1{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
th, td{
    border: 1px solid white;
}
#form-index{
    display: grid;
    place-items: center;
    /* height: 90vh; */
    color: white;
    margin-top: 45px;
}
#form-index > form{
    max-width: 185px;
    background-color: #450e69ed;
    border: 1px solid #450e69;
    padding: 11px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1);
}
#form-index > form input{
    width: 163px;
    height: 34px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 11px;
}
#form-index > form input[type="checkbox"]{
    width: 15px;
    height: 15px;
}
#help-register{
    text-align: center;
    font-size: 10px;
    padding-bottom: 15px;
    margin-top: 22px;
}
#link-register{ text-decoration: none; color: white; font-size: 13px; }

#initial-title{
    padding-top: 45px;
}

#card-category{
    text-align: center;
    color: white;
    min-width: 90px;
    padding: 10px 0 0 0;
}

/* Estilo do botão */
.btn-checkbox input[type="checkbox"]::before {
    appearance: none;
    content:"NÃO";
    display: inline-block;
    width: 45px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    background-color: red;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
}

/* Estado ON do botão */
.btn-checkbox input[type="checkbox"]:checked::before{
    background-color: green;
    content: "SIM";
}

.bg-main{
    background-color: var(--cor-principal);
}

#icon-btn{
    color: green;
    font-size: 30px;
}

.btn-line{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--cor-principal);
    border: none;
}

.btn-list-sv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btn-add{
    font-size: 90px;
    position: fixed;
    bottom: 15px;
    right: 10px;
    color: var(--cor-principal);
}
.back-btn{
    background-color: white;
    position: fixed;
    bottom: 21px;
    width: 95px;
    height: 78px;
    right: 0px;
    border-radius: 35px 0 0 35px;
    box-shadow: -1px 3px 8px 0px black;
}
.box-extra > table{
    text-indent: 20px;
}

.box-extra > table  tr > td{
    min-width: 175px;
}

.list-dasboard{
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
    gap: 45px;
    justify-content: center;
}

section{
    border-bottom: 1px solid;
    background-color: white;
    padding: 25px
}

footer{
    text-align: center;
    color: white;
}